// COLOR MAIN START //
$primary-color: #71D083;
$scondery-color : #1FD8A4;
$danger-color : #FF9592;
$success-color : #75C7F0;
$dark-color : #000f0f;
// COLOR MAIN END //

$xm-size : 0.75rem;
$sm-size : 0.875rem;
$md-size : 1rem;
$lg-size : 1.25rem;
$xl-size : 1.5rem;
